/* trang 1 index */
.div-add-cart {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  padding: 0.5rem;
  justify-content: center;
}

.button-add-cart {
  padding: 1.4rem;
  width: 40%;
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  border: none;
}

.button-add-cart:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-main img {
  width: 6rem;
  height: 6rem;
}

.menu a {
  color: rgb(26, 28, 31);
  text-transform: uppercase;
  padding-left: 2rem;
  display: block;
  transition: 0.3s ease;
  font-weight: 900 !important;
  font-size: 1.5rem;
}

.menu-app button {
  color: rgb(85, 88, 88);
  width: 3.8rem;
  border: none;
  background-color: #fff;
  border-radius: 100%;
  padding: 0.8rem;
  transition: 0.3 ease;
  cursor: pointer;
}

.header-main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;

}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}

.logoss {
  display: flex;
  padding-left: 5rem;
  align-items: center;

}

.menu-sub-sub {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 100%;
  padding: 1rem 0rem;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  gap: 2rem;
  width: 20rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
  display: none;
  flex: 0;
  z-index: 1000;
  padding: 1rem 0rem;
  background-color: #fff;
}

.menu-sub-sub:hover .menu-sub {
  display: flex;
  flex-direction: column;
}

.header-main a:hover {
  color: firebrick;
}

.menu-sub li {
  transition: tramsform 0.3s, padding-left 0.3s ease;
}

.menu-sub li:hover {
  padding-left: 1rem;
  /* font-size: 1.9rem; */
  transform: scale(1.1);
}

.menu-app {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  gap: 1rem;
}

.menu-app button:hover {
  color: black;
}

.input-find {
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.img-para img {
  width: 100%;
  /* width: 110rem; */
  object-fit: cover;
  display: flex;
  /* margin-top: 10rem; */
}

.section_shirt {
  max-width: 140rem;
  margin: 0 auto;
}

.heading {
  color: #222;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 3rem;
  /* margin-left: 20rem; */
  display: flex;
  align-items: center;
  gap: 3rem;
}

.heading::after {
  content: "  ";
  background-color: #222;
  height: 0.1rem;
  width: 120rem;
}

.menu-shirt-sub {
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
  margin-bottom: 5rem;
}

.menu-shirt-sub a {
  color: rgb(26, 28, 31);
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu-shirt-sub a:hover {
  color: firebrick;
}

.product-shirt {
  max-width: 140rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
  margin-top: 6rem;
}

.product-shirt img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.product-shirt-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 3rem;
  margin-bottom: 3rem;
}

.product_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #212529;
  font-weight: 600;
  cursor: pointer;
}

.product_name:hover {
  color: aqua;
}

.product-main p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  color: #878787;
  cursor: pointer;
  font-weight: 700;
}

.product_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img_box {
  position: relative;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
}

.img_box:hover .product_overlay {
  opacity: 1;
}

.img_hidden {
  overflow: hidden;
}

.img_box img {
  transform: scale(1);
}

.img_box:hover img {
  transform: scale(1.1);
}

.sale {
  position: absolute;
  top: 5%;
  left: 5%;
  border: solid;
  border: none;
  background-color: rgb(187, 18, 18);
  color: #fff;
  padding: 0.8rem 1rem;
  /* border-bottom-left-radius: 10px; */
  font-size: 1.23rem;
}

.img_box {
  position: relative;
}

.money_sale {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.money_sale .sale-m {
  color: #000;
  text-decoration: line-through;
  font-weight: 700;
}

/* footer */
.bottom-menu-container {
  display: flex;
  width: 100%;
  max-width: 110rem;
  margin: 0 auto 40px auto;
}

.bottom-menu-item ul {
  list-style: none;
}

.bottom-menu-item li {
  margin-top: 15px;
  color: #eff4f8;
  font-size: 1.5rem;
}

.bottom-menu-item a:hover {
  color: #c67d4e;
}

.bottom-menu-item {
  margin-top: 40px;
  /* margin-right: 300px; */
  flex: 1;
}

.bottom-menu-item strong {
  color: #eff4f8;
}

footer {
  background-color: #000;

  height: 35rem;
}

.bottom-menu-container a {
  color: #ebebeb;
  font-size: 1.5rem;
  font-weight: 100;
}

.bottom-menu-item .name-main {
  text-transform: uppercase;
}

.navigation-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: row-reverse;

  /* transform: translateX(100%);
    transition: transform 0.3s ease;
    pointer-events: none; */
  display: none;
}

.navigation-popup--open {
  /* transform: translateX(0);
    pointer-events: auto;  */
  display: flex;
}

.side-navigation {
  width: 40rem;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px, 0px, 0px, 1rem rgba(0, 0, 0, 0.1);
}

.navigation-popup img {
  width: 10rem;
  height: 10rem;
}

.side-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px 20px;
  gap: 3rem;
  overflow: scroll;
  flex: 5;
  overflow-x: hidden;
  border-bottom: 1px solid;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 10001; */
}

.menu_navigation {
  display: flex;
  padding-left: 1.3rem;
  font-size: 2.5rem;
  font-weight: 700;
  gap: 2rem;
  flex-direction: column;
}

.menu_navigation a {
  transition: color 0.3s ease;
  padding-left: 1.5rem;
}

.menu_navigation a:hover {
  color: firebrick;
}

.img-banner-overlod-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.side-top-top svg {
  width: 4rem;
}

.delete-navigation {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 8px 10px;
}

.side-bottom {
  display: flex;
  flex: 1;
}

.navigation-sit {
  border: none;
  background-color: #fff;
}

.navigation-sit svg {
  width: 3rem;
}

.navigation-home {
  display: flex;
  gap: 20rem;
}

.navigation-up {
  border: none;
  background-color: #fff;
}

.navigation-up svg {
  width: 3rem;
}

.menu-sub1 {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
  display: none;
}

.menu-sub1.menu-sub1--open {
  display: flex;
}

.hidden {
  display: none;
}

.login svg {
  width: 2.8rem;
  color: rgb(85, 88, 88);
  transition: color 0.3s ease;
  cursor: pointer;
}

.side-login {
  display: flex;
  /* align-items: center; */
  gap: 0.1rem;
  padding-left: 2rem;
  margin-top: 2rem;
}

.side-login span {
  text-align: center;
  color: rgb(85, 88, 88);
  transition: color 0.3s ease;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
}

.side-login:hover .login svg,
.side-login:hover span {
  color: black;
}

.input-find {
  width: 20rem;
  border: 1px solid;
  position: absolute;
  /* display: none; */
  right: 8%;
}

.input-button-find {
  position: relative;
}




/* silde show images */
.slide-show-images {
  /* height: 60rem; */
  /* width: 100rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  margin-top: 5rem;

}

.slide-show {
  width: 100rem;
  /* display: block ; */
  display: flex;



}

.list-images img {
  width: 100rem;
  object-fit: cover;

}

.list-images {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* ative silde show */
.index-images {
  position: absolute;
  display: flex;
  bottom: 0.1rem;
  justify-content: center;
  /* right: 50%; */
  left: 50%;
  /* right: 50%; */
  transform: translateX(-50%);
}

.index-item {
  border: 0.3rem solid #e6e6f0;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
}

.active {
  background-color: #e6e6f0;
}


/*  */

.navigation-left {
  width: 3.5rem;
  background-color: #fff;
  color: #101113;
  position: absolute;
  left: 1rem;
  top: 50%;
  border: 2px solid #000;
  /* transform: translateX(-50%); */
  transition: color 0.2s ease;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 1rem;

}

.navigation-left svg {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.navigation-left:hover {
  color: #878787;
}

.navigation-left:active {
  color: #7fade0;

}

.navigation-right {
  width: 3.5rem;
  background-color: #fff;
  color: #101113;
  position: absolute;
  right: 1rem;
  top: 50%;
  transition: color 0.2s ease;
  border-radius: 50%;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
  font-size: 1rem;
}

.navigation-right:hover {
  color: #878787;
}

.navigation-right:active {
  color: #7fade0;
}

.content-sale {
  font-size: 5rem;
  font-weight: 800;
  margin: 2rem;
  color: rgb(24, 21, 21);
  /* display: flex; */
  align-items: center;
}

.product-shirt {
  margin-top: 10rem;
}



.load-more {
  text-align: center;
  /* width: 10rem; */

}

.load-more button {
  width: 20rem;
  font-size: 1.7rem;
  margin: 2rem;
  height: 3rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 1rem;
  color: #878787;
  transition: color 0.3s ease, background-color 0.3 ease;
}

.load-more button:hover {
  color: #000;
  background-color: #f0f0f0;

}

.button-cart-quantity {
  position: relative;
}

.update-content-cart {
  position: absolute;
  top: -0.7rem;
  right: 0.3rem;
  font-size: 2rem;
  font-weight: 500;
  color: #330202;


}

.side-bottom {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 2rem;
  cursor: pointer;
}