.section-account {
    margin-top: 10rem;
}
.container {
    margin-bottom: 2rem;
}
.h2-account {
    display: flex;
    justify-content: center;
}

.div-my-account {
    display: grid;
    width: 110rem;
    margin: 0px auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    gap: 1rem;
}

.info {
    flex: 1;
    /* border: 1px solid; */

}

.info h3 {
    display: flex;
    justify-content: center;
}

.content-info {
    margin-left: 3rem;
}

.orders {
    flex: 1;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

.orders h3 {
    display: flex;
    justify-content: center;
}

.orders table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.orders th,
td {
    padding: 1rem;
    border: 1px solid #ccc;
    word-break: break-word;/* Giúp ngắt dòng nếu nội dung quá dài */
    text-align: center;/* ✅ căn giữa ngang */
    vertical-align: middle;/* ✅ căn giữa dọc */
}

.delete-account {
    width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: #800e0e;
    color: #fff;
    border: none;
    margin-top: 3rem;
}

.div-user-mail {
  border: 1px solid;
  border-radius: 1rem;
  width: 35rem;
  margin: 0 auto;
  padding: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.div-user-mail p {
  padding-top: 1rem;
}

.div-user-mail span {
  word-break: break-all; 
}
