.div-confirmation-img img{

    width: 13rem;
    object-fit: contain
}

.div-confirmation-img{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.section-order{
    width: 110rem;
  
    margin: 10rem auto;
}
.div-confirmation-quantity{
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
}   
.div-ordor-page{
    display: flex;
     border-bottom: 1px solid;
}
.div-confirmation-price{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    font-size: 3rem;
    color: brown;
}
.content-order{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(29, 158, 111);
    /* width: 10rem; */
}
.div-continue{
    width: 110rem;
    margin: 0px auto;
    display: flex;
    gap: 10rem;
}
.continue-cart{
    width: 20rem;
    height: 3rem;
    margin-bottom: 10rem;
    color: black;
    background-color: rgb(182, 181, 187);
    border: none;
    border-radius: 10rem;
    transition: background-color 0.3s ;
}
.continue-cart:hover {
    background-color: #f05d5d ;
}
.history-cart{
   width: 20rem;
    height: 3rem;
    margin-bottom: 10rem;
    color: black;
    background-color: rgb(182, 181, 187);
    border: none;
    border-radius: 10rem; 
    transition: background-color 0.3s ;
}
.history-cart:hover {
    background-color: #f05d5d ;
}